<html>
    <head>
        <meta charset="UTF-8">
        <title>Ceneo Web Scraper</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="text-center">
            <h1>Ceneo Web Scraper</h1>
        </header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Pobierz opinie</a>
                <a class="navbar-brand" href="{{url_for('products')}}">Lista produktów</a>
            </div>            
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    {% block sidebar %}
                    {% endblock %}
                </div>
                <div class="col-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
          </div>   
          <footer>(c) Katarzyna Wójcik Uniwersytet Ekonimiczny w Krakowie</footer>                                   
    </body>
</html>